{% extends "layout.html" %}

{% block content %}
<div class="row">
  <form method="POST" role="form">
    <h2>Create post</h2>

    <p><label>Title:</label></p>
    <p><input class="form-control" type="text" name="title"></p>
    <p><small>{{ err.errors.title.message }}</small></p>
    <p>
      <p><label>Body:</label></p>
      <textarea id="summernote" class="form-control" type="text" name="body"></textarea>
    </p>
    <p><small>{{ err.errors.body.message }}</small></p>
    <p>
      <input class="form-control" type="text", name="slug" />
    </p>
    <p>
      <p><label>Slug:</label></p>
      <p><small>{{ err.errors.body.slug }}</small></p>
    </p>
    <p>
      <button class="btn btn-success">Create</button>
      <a href="/admin/posts">Cancel</a>
    </p>
  </form>
</div>
{% endblock %}
