<!doctype html>
<html>
  <head>
    <title>Blog | admin</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/bower_components/summernote/dist/summernote.css" rel="stylesheet"/>
    <link href="/css/admin.css" rel="stylesheet" />
  </head>
  <body>
    <div class="row">
      <header>
        <div class="navbar navbar-inverse">
          <h1 class="navbar-brand">Admin</h1>
        </div>
      </header>
      <div class="container">{% block content %}{% endblock %}</div>
      <footer></footer>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/summernote/dist/summernote.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
