{% extends "layout.html" %}

{% block content %}

<div>
  <div class="row">
    <a class="btn btn-success" href="/admin/posts/create">Add new</a>
  </div>
  <div class="row">
    <table class="row table table-bordered" role="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th>Slug</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for post in posts %}
        <tr>
          <td><a href="/admin/posts/{{ post.id }}">{{ post.title }}</a></td>
          <td>{{ post.body|raw }}</td>
          <td>{{ post.slug }}</td>
          <td>
            <p><a class="btn btn-info" href="/admin/posts/{{ post.id }}/edit">Edit</a></p>
            <p><a class="btn btn-info" href="/admin/posts/{{ post.id }}/delete">Del..</td></p>
          </td>
        </tr>
      {% endfor %}
      <tbody>
    </table>
  </div>
</div>
{% endblock %}
