{% extends "layout.html" %}

{% block content %}
<div class="row">
  <a href="/admin/posts">list</a>
  <h3>{{ post.title|title }}</h3>

  <div>
    <div>{{ post.body|raw }}</div>
    <div>{{ post.created|date("Y-m-d") }}</div>
  </div>
  <div>
    <p><a href="/admin/posts/{{ post.id }}/edit">Edit</a></p>
    <p><a href="/admin/posts/{{ post.id }}/delete">Delete</a></p>
  </div>
</div>
{% endblock %}
