{% extends "layout.html" %}

{% block content %}
<div class="row">
  <form method="POST" role="form">
    <h2>Create post</h2>
    <p>
      <p><label>Title:</label></p>
      <input class="form-control" type="text" name="title" value="{{ post.title }}">
    </p>
    <p><small>{{ err.errors.title.message }}</small></p>
    <p class="input-group">
      <p><label>Body:</label></p>
      <textarea id="summernote" type="text" name="body">{{ post.body }}</textarea>
    </p>
    <p class="input-group">
      <p><label>Slug:</label></p>
      <p><input class="form-control" type="text" name="slug" value="{{ post.slug }}"></p>
    </p>
    <p><small>{{ err.errors.body.message }}</small></p>
    <p><input type="checkbox" name="is_hidden" value="{{ post.is_hidden }}"></p>
    <p>
      <button class="btn btn-success">Update</button>
      <a href="/admin/posts/">Chancel</a>
    </p>
  </form>
</div>
{% endblock %}
