<!DOCTYPE html>
<html lang="en">
  <head>
    {% block  title %}
      <title>Blog</title>
      <link href="/css/custom.css" rel="stylesheet" />
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="author" content="Ivan Lavriv">
    {% endblock %}
  </head>
  <body>
    <div id="#wrapper">
      <div id="head">
        <div class="wrapp">
          <div class="logo">
            Ivan Lavriv
          </div>
          <ul class="nav">
            <li><a href="/">home</a></li>
            <li><a href="/blog/posts/">blog</a></li>
            <li><a href="/contacts/">contacts</a></li>
          </ul>
        </div>
    </div>
    <div id="wrapp">
      <div id="body">
        <div class="wrapp">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
