html, body {
  background: none repeat scroll 0 0 #fff;
  color: #000;
  font-family: Helvetica,Arial,Sans-Serif;
  font-size: 18px;
  margin-top: 0;
  margin: 0;
  padding: 0;
}

a {
  color: #C43725;
}

#wrapper {
  margin: 10px auto;
  overflow: hidden;
  width: 11015px;
}

#head {
  background: none repeat scroll 0 0 #333;
  color: #fff;
  height: 60px;
  position: relative;
  margin: 0;
  padding: 0;
}

#head a {
  color: #fff;
}

.logo {
  float: left;
  line-height: 60px;
  margin-right: 30px;
  display: inline-block;
}

#head li{
  list-style: none;
  line-height: 60px;
  display: inline-block;
  margin-right: 10px;
}

#wrapp, .wrapp {
  width: 720px;
  margin: 0 auto;
  position: relative;
}

.body {
  margin: 0 10px;
  min-height: 800px;
}

.wrapp {
  word-wrap: break-word;
}
