{% extends "../layout.html" %}

{% block content %}
<h2>My blog</h2>
<hr/>
<div>
  {% for post in posts  %}
  <h3><a href="/blog/posts/{{ post.slug }}/">{{ post.title|title }}</a></h3>
  <p>
    {{ post.body.slice(0, 350)|striptags }}[...]
  </p>
  {% endfor %}
</div>
{% endblock %}
